form{width:420px;margin:35px auto 100px;display:block;float:none;}
.mat-form-field{width:100%;}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.button-wrapper{margin-top:10px;}
input[type="file"] {
    margin-bottom: 30px;
  } 
input {
    display: inline-block;
    clear: both;
    width: 50%;
}




.label-file {
  /* cursor: pointer;
  color: #673ab7;
  font-weight: bold;
  transition: 500ms; */

    border-radius: 5px;
    border: 2px solid #673ab7;
    transition: 1000ms;  
    color: gray;
    background-color: white;
    /* font-size: 1.25rem; */
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.350rem 0.750rem;
    /* width: 5em; */

}
.label-file:hover {

  color: #ffd740;
  background-color:#673ab7 ;
  
  

}

/* et on masque le input */
.input-file {
  display: none;
}

