


<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">








    <mat-card>
        <mat-card-title>
          Description du projet
        </mat-card-title>
  
        <mat-card-subtitle>
          Bienvenu sur le trombinoscope ! <br />
          Vous avez la possibilité de cliquer sur "Add Student" en haut a droite,
          ce qui aura pour effet de vous afficher un formulaire
        </mat-card-subtitle>
  
        <mat-card-content>
          <div>
            <h4>Exigences du projet</h4>
            <ul>
              <li>
                Reactive Forms
                 <p>Utilisation de "Reactive Forms" pour la création du formulaire</p>
              </li>
              <li>
                Custom Validator
                <p>Utilisation d'un "Custom Validator" pour vérifiez que l'étudiant a plus de 18 ans</p>

              </li>
              <li>
                Custom Pipe
                <p>Utilisation d'un "Custom pipe" pour calculer l'age d'une étudiant à partir de sa date de naissance</p>
              </li>
  
              <li>
                FormArray
                <p>Utilisation d'un "FormArray" pour ajouter plusieurs langages de programmation  </p>
              </li>
              <li>
                Animation
                <p>Utilisation d'animation lors de l'affichage de la liste des étudiants</p>
              </li>
              <li>
                Angular Material
                <p>Utilisation de Angular Material pour le design de l'application</p>
              </li>
              <li>
                Affichage des informations récupérées grâce au formulaire
                <p>Affichage des informations des étudiants dans une liste, et affichage d'un étudiant lors de la selection d'un etudiant dans la liste</p>
              </li>
            </ul>
            <h4>Bonus</h4>
            <ul>
              <li>
                Routing
                <p>Systeme de routing, redirection vers une page dédié au à une utilisation spécifique, exemple : page form, page liste etudiants ...</p>
              </li>
              <li>
                Stockage dans le LocalStorage
                <p>Utilisation du localstorage pour stocker les étudiants et les retrouver dans la liste des étudiants</p>
              </li>
              <li>
                Possibilité d'ajouté plusieurs étudiants grâce au formulaire
                <p>Grace au localStorage il est possible d'ajouter plusieurs étudiants</p>
              </li>
  
              <li>
                Affichage de la liste d'étudiants
                <p>Page dédié à la liste des étudiants qui s'affiche en récuperant les informations stocké dans le localStorage</p>
              </li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div>
            <h4>Contributors</h4>
            <ul>
                <li style="list-style-type:square">
                    Sid Djilali Saiah
                </li>
                <li style="list-style:square">
                    Nicolas Chambon Alias Capitaine Gloomy
                </li>
                <li style="list-style:square">
                    Théo Martin
                </li>
                <li style="list-style: square">
                    François-Marie Lauze
                </li>
              </ul>
          </div>
        </mat-card-footer>
      </mat-card>
 


</div>