


<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">
    <mat-card>
        <mat-card-title>
          <h2>Description du projet<br /></h2>
        </mat-card-title>
  
        <mat-card-subtitle>
          Bienvenue sur le trombinoscope !<br /><br />

          <u>Fonctionnalités :</u><br /><br />

          - Vous avez la possibilité de cliquer sur "Add Student" en haut a droite. Cela affichera un formulaire de renseignement pour un nouvel étudiant.<br />
          - Une fois que vous aurez créé des étudiants, ces derniers seront listés dans la "Student List", accessible via le bouton en question, en haut de la page.<br />
        </mat-card-subtitle>
  
        <mat-card-content>
          <div>
            <h3>Exigences du projet</h3>
            <ul>
              <li>
                <b>Reactive Forms</b>
                 <p>Utilisation de "<a target = '#' href="https://github.com/Sid-Djilali-Saiah/AngularForm/tree/master/angutromb/src/app/form">Reactive Forms</a>"pour la création du formulaire</p>
              </li>
              <li>
                <b>Custom Validator</b>
                <p>Utilisation d'un "<a target = '#' href="https://github.com/Sid-Djilali-Saiah/AngularForm/blob/master/angutromb/src/app/required-age.validator.ts">Custom Validator</a>" pour vérifiez que l'étudiant ait plus de 18 ans</p>

              </li>
              <li>
                <b>Custom Pipe</b>
                <p>Utilisation d'un "<a target = '#' href="https://github.com/Sid-Djilali-Saiah/AngularForm/blob/master/angutromb/src/app/age.pipe.ts">Custom pipe</a>" pour calculer l'âge d'un étudiant à partir de sa date de naissance</p>
              </li>
  
              <li>
                <b>FormArray</b>
                <p>Utilisation d'un "<a target = '#' href="https://github.com/Sid-Djilali-Saiah/AngularForm/blob/master/angutromb/src/app/form/form.component.ts">FormArray</a>" pour ajouter plusieurs langages de programmation  </p>
              </li>
              <li>
                <b>Animation</b>
                <p>Utilisation d'animations lors de l'affichage de la liste des étudiants</p>
              </li>
              <li>
                <b>Angular Material</b>
                <p>Utilisation d' <a target = '#' href="https://material.angular.io/">Angular Material</a> pour le design de l'application</p>
              </li>
              <li>
                <b>Affichage des informations récupérées grâce au formulaire</b>
                <p>Affichage des étudiants dans une liste et affichage détaillé d'un étudiant individuellement</p>
              </li>
            </ul>
            <h3>Bonus</h3>
            <ul>
              <li>
                <b>Routing</b>
                <p>Système de routing, redirection vers une page dédié au à une utilisation spécifique, exemple : page form, page liste etudiants ...</p>
              </li>
              <li>
                <b>Stockage dans le LocalStorage</b>
                <p>Utilisation du localstorage pour stocker les étudiants et les retrouver dans la liste des étudiants</p>
              </li>
              <li>
                <b>Possibilité d'ajouter plusieurs étudiants grâce au formulaire</b>
                <p>Grace au localStorage il est possible d'ajouter plusieurs étudiants</p>
              </li>
              <li>
                <b>Consultation du détail d'un étudiant dans un Dialog</b>
                <p>Utilisation d'un Dialog pour afficher le détail d'un étudiant, informations passées par les entryComponents</p>
              </li>
              <li>
                <b>Affichage de la liste des étudiants</b>
                <p>Page dédiée à l'affichage de la  liste des étudiants en récuperant les informations stockées dans le localStorage</p>
              </li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div>
            <h4>Contributors</h4>
            <ul>
                <li style="list-style-type:square">
                    Sid Djilali Saiah
                </li>
                <li style="list-style:square">
                    Nicolas Chambon Alias Capitaine Gloomy
                </li>
                <li style="list-style:square">
                    Théo Martin
                </li>
                <li style="list-style: square">
                    François-Marie Lauze
                </li>
              </ul>
          </div>
        </mat-card-footer>
      </mat-card>
 


</div>