

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->



  
  <mat-grid-list cols="3" rowHeight="40em" >
    <mat-grid-tile *ngFor="let student of students" [@visibilityChanged]="visiblityState">

      <mat-card class="example-card"  >
        <mat-card-header>
          <mat-card-title>{{student.firstName}} {{student.lastName}}</mat-card-title>
          <mat-card-subtitle>{{student.grade}}</mat-card-subtitle>
          
        </mat-card-header>
        <mat-divider></mat-divider>
        
        <img mat-card-image style="margin-top: 1rem;" src="{{student.avatar}}">
        <mat-card-content>
         
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>            
          <button mat-button (click)="deleteStudents(student)">DELETE</button>
          <button mat-button (click)="openDialogShowStudent(student)">SHOW</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
  
  </mat-grid-list>

  <div style="margin-bottom: 50px;"></div>

  