

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->



  
  <mat-grid-list cols="3" rowHeight="40em" >
    <mat-grid-tile *ngFor="let student of students">

      <mat-card class="example-card" >
        <mat-card-header>
          <mat-card-title>{{student.firstName}}</mat-card-title>
          <mat-card-subtitle>{{student.dob | age}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{student.avatar}}">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>            
          <button mat-button [@deleteTrigger] (click)="deleteStudents(student)">DELETE</button>
          <button mat-button>SHOW</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
  
  </mat-grid-list>

  <div style="margin-bottom: 50px;"></div>

  